.hyper-tree-view {
  .hyper-tree-node-wrapper {
    position: relative;
    .hyper-node-wrapper {
      position: relative;
      transition: all 0.2s ease;
      opacity: 1;
      cursor: pointer;

      &:hover {
        background-color: rgb(184, 222, 245);
      }

      &.selected {
        background-color: rgb(184, 222, 245);
      }
    }

    .child {
      position: relative;
      transition: all 0.2s cubic-bezier(0, 1, 0, 1);
      transform-origin: top;
      transform-style: flat;
      max-height: 9999px;
      transform: scaleY(1);

      &.collapsed {
        transform: scaleY(0);
        max-height: 0;
      }
    }
  }
}
